BirdiesGuns/audio/
BirdiesGuns/itemversion.lua
BirdiesGuns/publishedfileid.lua
BirdiesGuns/temp/
BirdiesGuns/.dev/birdiesguns2.2/Build/
BirdiesGuns/.dev/birdiesguns2.2/.user/
BirdiesGuns/.dev/birdiesguns2.2/.unsaved/
BirdiesGuns/.dev/birdiesguns2.2/.cache/